@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta charset="utf-8" />
    <meta name="description" content="齐齐哈尔市企业信用信息系统，企业信用，信用信息" />
    <meta name="keywords" content="齐齐哈尔市企业信用信息系统，企业信用，信用信息" />
    <meta name="author" content="yang" />
    <link rel="stylesheet" href="~/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="~/styles/bootstrapValidator.min.css" />
    <title>系统后台登录页面</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <section>
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="page-header">
                        <h2>Welcome</h2>
                    </div>

                    <form id="defaultForm" method="post" class="form-horizontal" >

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Username</label>
                            <div class="col-lg-5">
                                <input type="text" class="form-control" name="username" id="username" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Password</label>
                            <div class="col-lg-5">
                                <input type="password" class="form-control" name="password" id="password" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-9 col-lg-offset-3">
                                <button class="btn btn-primary" id="btnLogin">Sign up</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
   
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/bootstrapValidator.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#btnLogin").click(function () {
                
                var url = "/Account/Login";
                var params = { "username": $("#username").val(), "password": $("#password").val() };
                $.post(url, params, function (data) {
                    if (data == "success") {
                        window.location.href = "/Home/Manage";
                    } else {
                        alert("用户名或密码不存在");
                    }
                    

                })
            });
        
            $('#defaultForm').bootstrapValidator({
                message: '这个值没有被验证',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    username: {
                        message: '用户名还没有验证',
                        validators: {
                            notEmpty: {
                                message: '用户名不能为空'
                            },
                            stringLength: {
                                min: 5,
                                max: 16,
                                message: '用户名长度在5到16之间'
                            }
                        }
                    },
                    password: {
                        message: '密码还没有验证',
                        validators: {
                            notEmpty: {
                                message: '密码不能为空'
                            },
                            stringLength: {
                                min: 6,
                                max: 16,
                                message: '密码长度在6到16之间'
                            },
                            regexp: {
                                regexp: /^(?![0-9a-z]+$)(?![0-9A-Z]+$)(?![0-9\W]+$)(?![a-z\W]+$)(?![a-zA-Z]+$)(?![A-Z\W]+$)[a-zA-Z0-9\W_]+$/,
                                message: '密码必须包括至少一个数字，大写字母，小写字母，特殊字符'
                            },
                            different: {
                                field: 'username',
                                message: '密码不能和用户名相同'
                            }
                        }
                    }
                }
            });
    });
    </script>
</body>
</html>