@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta charset="utf-8" />
    <meta name="description" content="齐齐哈尔市企业信用信息系统，企业信用，信用信息" />
    <meta name="keywords" content="齐齐哈尔市企业信用信息系统，企业信用，信用信息" />
    <meta name="author" content="yang" />
    <link rel="stylesheet" href="~/styles/globle.css" />
    <title>系统后台登录页面</title>
</head>
<body class="LoginPage" style="overflow:hidden;">
    <div class="whiteUp"></div>
    <div id="login" class="login">
        <div id="login-center" class="login-center">
            <h1>Welcome</h1>
            <form class="form">
                <input class="input" type="text" name="username" placeholder="用户名">
                <input class="input" type="password" name="password" placeholder="密码">
                <a class="btn" href="/">注册</a>
                <button class="btn" id="btnLogin" type="submit">Login</button>
            </form>
        </div>
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div style="clear:both;"></div>   
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#btnLogin").click(function () {
                
                var url = "/Account/Login";
                var username1 = $.trim($('input[name=username').val());
                
                var password1 = $.trim($('input[name=password').val());
                
                var params = { "username": username1, "&password": password1 };
                
                $.post(url, params, function (json) {
                    alert(1);
                    if (json== "success") {
                        alert("success");
                        window.location.href = "/Home/Manage";
                    } else {
                        console.log("f");
                        alert("用户名或密码不存在");
                    }
                    

                })
            });
        });
    </script>
</body>
</html>