<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="page-header">
                <h3>密码修改页面</h3>
            </div>
            <form id="defaultForm">
                <div class="form-group">
                    <label class="col-lg-3 control-label">旧密码</label>
                    <div class="col-lg-5">
                        <input type="password" class="form-control" name="password" id="password" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">新密码</label>
                    <div class="col-lg-5">
                        <input type="password" class="form-control" name="NewPassword" id="NewPassword" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">确认密码</label>
                    <div class="col-lg-5">
                        <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" />
                    </div>
                </div>

                <input id="send" class="btn btn-primary form-control" value="提交" />
            </form>
        </div>
    </div>
</div>
<script src="~/scripts/jquery-2.1.1.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>
<script src="~/scripts/bootstrapValidator.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#defaultForm').bootstrapValidator({
            message: '这个值没有被验证',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                password: {
                    message: '密码还没有验证',
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },
                        stringLength: {
                            min: 6,
                            max: 16,
                            message: '密码长度在6到16之间'
                        },
                    }
                },
                NewPassword: {
                    message: '密码还没有验证',
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },
                        stringLength: {
                            min: 6,
                            max: 16,
                            message: '密码长度在6到16之间'
                        },
                        identical: {
                            field: 'confirmPassword',
                            message: '两次密码不一致'
                        }
                    }
                },
                confirmPassword: {
                    message: '密码还没有验证',
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },
                        stringLength: {
                            min: 6,
                            max: 16,
                            message: '密码长度在6到16之间'
                        },
                        identical: {
                            field: 'NewPassword',
                            message: '两次密码不一致'
                        }
                    }
                },

            }
        });
        $("#send").click(function () {
            var password = $("#password").val();
            var NewPassword = $("#NewPassword").val();
            var url = "/Account/Modify";
            var parmas = { "password": password, "NewPassword": NewPassword };
            $.post(url, parmas, function (data) {
                if (data == "success") {
                    alert("修改成功,确认后跳转到登录页重新登录...");
                    window.location.href = "/Account/Login";
                }
                else {
                    alert("修改失败...");
                }
            });               
        });
    });
</script>




