<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta charset="utf-8" />
    <meta name="description" content="齐齐哈尔市企业信用信息系统，企业信用，信用信息" />
    <meta name="keywords" content="齐齐哈尔市企业信用信息系统，企业信用，信用信息" />
    <meta name="author" content="yang" />
    <link rel="stylesheet" href="~/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="~/styles/bootstrapValidator.min.css" />
    <link rel="stylesheet" href="~/styles/globle.css" />
    <script type="text/javascript" src="~/scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/scripts/bootstrapValidator.min.js"></script>
    <title>首页--齐齐哈尔市企业信用信息管理系统</title>
</head>
<body class="Layout1Page">
    <header class="header" style="background-image: url('/img/bg44.jpg');">
        <div class="container">
            <div class="title">
                <h1>齐齐哈尔市企业信用信息管理系统</h1>
            </div>
            <div class="nav">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">首页</a></li>
                    <li><a asp-controller="Page" asp-action="FillIn">信息填报</a></li>
                    <li><a asp-controller="Page" asp-action="Announcement">信息公告</a></li>
                    <li><a href="http://gsxt.saic.gov.cn/">全国首页</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="content">
        @RenderBody()
    </div>

    <footer class="main-footer">
        <p>2015 &copy; .yang&nbsp;&nbsp;
    </footer>
    
</body>
</html>