<!DOCTYPE html>
<html lang="en">
<head>
    <title>齐齐哈尔市企业信用信息系统后台管理</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/styles/bootstrap.min.css" />@*simples*@
    @*<link rel="stylesheet" href="~/styles/back/bootstrap-responsive.min.css" />*@
    <link rel="stylesheet" href="~/styles/back/fullcalendar.css" />
    <link rel="stylesheet" href="~/styles/back/unicorn.main.css" />
    <link rel="stylesheet" href="~/styles/back/unicorn.blue.css" class="skin-color" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
        #user-nav > ul > li>a{
            background: #33324b;
        }
        #breadcrumb{margin-bottom:50px;}
        div#AllPageLayout{min-height:390px;}
        #user-nav > ul > li > a > i, #sidebar li a i{background-image:none;}
    </style>
</head>
<body style="margin:0;">
    <div id="header">
        <a asp-action="Index" asp-controller="Home" target="_blank" style="color:#fff; padding-left: 25px; font-size:1.5em; margin-top:21px; display:inline-block;">Welcome Admin</a>
    </div>
    <div id="user-nav" class="navbar navbar-inverse" style="box-shadow:none; background:none; border:none;">
        <ul class="nav btn-group">
            <li class="btn btn-inverse"><a href="#" id="Modify"><i class="icon icon-cog"></i> <span class="text">修改密码</span></a></li>
            <li class="btn btn-inverse">
                <a href="javascript:$('#logout').submit()">
                    <i class="glyphicon glyphicon-off"></i><span class="text">Logout</span>
                </a>
                <form asp-action="Logout" asp-controller="Account" id="logout" method="post"></form>
            </li>
        </ul>
    </div>

    <div id="sidebar">
        <ul>
            <li class="active"><a  asp-controller="Home" asp-action="Index" target="_blank"><i class="glyphicon glyphicon-home"></i><span>首页</span></a></li>
            <li class="submenu">
                <a href="#"><i class="icon icon-th-list"></i><span>系统信息</span><span class="label">2</span></a>
                <ul>
                    <li><a asp-controller="Admin" asp-action="DetailsBaseInfo">企业注册号管理</a></li>
                    <li><a asp-controller="Admin" asp-action="CreateBaseInfo">企业注册号添加</a></li>
                </ul>
            </li>
            <li class="submenu">
                <a href="#"><i class="icon icon-pencil"></i><span>报表</span><span class="label">1</span></a>
                <ul>
                    <li><a asp-action="DetailsYearReportEnterprise" asp-controller="Admin">企业年度信用报表管理</a></li>
                </ul>
            </li>
            <li class="submenu">
                <a href="#"><i class="icon icon-file"></i><span>公示</span><span class="label">6</span></a>
                <ul>
                    <li>
                        <a asp-action="DetailsInfoRandom" asp-controller="Admin">抽查公示管理</a>
                        <a asp-action="CreateInfoRandom" asp-controller="Admin">抽查公示添加</a>
                        <a asp-action="DetailsInfoUnusual" asp-controller="Admin">经营异常公示管理</a>
                        <a asp-action="CreateInfoUnusual" asp-controller="Admin">经营异常公示添加</a>
                        <a asp-action="DetailsInfoIllegal" asp-controller="Admin">严重违法公示管理</a>
                        <a asp-action="CreateInfoIllegal" asp-controller="Admin">严重违法公示添加</a>
                    </li>
                </ul>
            </li>
            <li class="submenu">
                <a href="#"><i class="icon icon-file"></i><span>公告</span><span class="label">6</span></a>
                <ul>
                    <li>
                        <a asp-action="DetailsAnnouncementRandom" asp-controller="Admin">抽查公告管理</a>
                        <a asp-action="CreateAnnouncementRandom" asp-controller="Admin">抽查公告添加</a>
                        <a asp-action="DetailsAnnouncementUnsual" asp-controller="Admin">经营异常公告管理</a>
                        <a asp-action="CreateAnnouncementUnsual" asp-controller="Admin">经营异常公告添加</a>
                        <a asp-action="DetailsAnnouncementIllegal" asp-controller="Admin">严重违法公告管理</a>
                        <a asp-action="CreateAnnouncementIllegal" asp-controller="Admin">严重违法公告添加</a>
                    </li>
                </ul>
            </li>
            <li class="submenu">
                <a href="#"><i class="icon icon-pencil"></i><span>联络员</span><span class="label">1</span></a>
                <ul>
                    <li><a asp-controller="Admin" asp-action="DetailsLiaison">企业联络员管理</a></li>
                </ul>
            </li>
            <li class="submenu">
                <a href="#"><i class="icon icon-pencil"></i><span>管理员</span><span class="label">1</span></a>
                <ul>
                    <li><a asp-controller="Admin" asp-action="DetailsUser">管理员管理</a></li>
                </ul>
            </li>
            <li class="submenu">
                <a href="#"><i class="icon icon-pencil"></i><span>系统管理</span><span class="label">1</span></a>
                <ul>
                    <li>
                        <a cass="list-group-item" asp-controller="Admin" asp-action="DetailsType">类型</a>
                    </li>
                </ul>
            </li>
            
        </ul>
    </div>
    <div id="content">
        @RenderBody()
        <div class="container-fluid">
            <div class="row-fluid">
                <div id="footer">
                    2015 &copy; .yang&nbsp;
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editpassword">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">修改密码</h4>
                </div>
                <div class="modal-body">
                    <input type="password" id="password" name="password" class="form-control" placeholder="旧密码" /><br />
                    <input type="password" id="NewPassword" name="NewPassword" class="form-control" placeholder="新密码" /><br />
                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="再次输入新密码" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                    <button type="button" id="send" class="btn btn-primary">提交</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/scripts/back/excanvas.min.js"></script>
    <script src="~/scripts/jquery-2.1.1.js"></script>
    <script src="~/scripts/back/jquery.ui.custom.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/bootstrapValidator.min.js"></script>
    <script src="~/scripts/back/jquery.flot.min.js"></script>
    <script src="~/scripts/back/jquery.flot.resize.min.js"></script>
    <script src="~/scripts/back/jquery.peity.min.js"></script>
    <script src="~/scripts/back/fullcalendar.min.js"></script>
    <script src="~/scripts/back/unicorn.js"></script>
    <script src="~/scripts/back/unicorn.dashboard.js"></script>
    <script>
        $("#Modify").click(function () {
            $("#editpassword").modal("show");
        });
        $("#send").click(function () {
            var password = $("#password").val();
            var NewPassword = $("#NewPassword").val();
            var confirmPassword = $("#confirmPassword").val();
            if (password == "" || NewPassword == "" || confirmPassword == "") {
                alert("任意项不能为空");
            } else if (NewPassword != confirmPassword) {
                alert("两次输入的密码不一致，请重新输入");
            } else {
                var url = "/Account/Modify";
                var parmas = { "password": password, "NewPassword": NewPassword };
                $.post(url, parmas, function (data) {
                    if (data == "success") {
                        alert("修改成功,确认后跳转到登录页重新登录...");
                        window.location.href = "/Account/Login";
                    }
                    else {
                        alert("修改失败...");
                    }
                });
            }
            
        });
    </script>
</body>

</html>
