@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta charset="utf-8" />
    <meta name="description" content="齐齐哈尔市企业信用信息系统，企业信用，信用信息" />
    <meta name="keywords" content="齐齐哈尔市企业信用信息系统，企业信用，信用信息" />
    <meta name="author" content="yang" />
    <link rel="stylesheet" href="~/styles/index.css" />
    <title>首页--齐齐哈尔市企业信用信息管理系统</title>
</head>
<body>
    <header>
        <div class="container">
            <h1>齐齐哈尔市企业信用信息管理系统</h1>
        </div>
    </header>
    <nav>
        <div class="nav">
            <ul id="menu">
                <li class="active"><a href="javascript:;">首页</a></li>
                <li>
                    <a href="/">信息填报</a>
                    <ol>
                        <li><a asp-controller="Admin" asp-action="CreateYearReportEnterprise">企业年度信用信息填报</a></li>
                        <li><a asp-controller="Admin" asp-action="CreateYearReportIndividual">个体年度信用信息填报</a></li>
                    </ol>
                </li>
                <li>
                    <a href="/">信息公示名单</a>
                    <ol>
                        <li><a asp-controller="Page" asp-action="InfoUnusual">经营异常名录</a></li>
                        <li><a asp-controller="Page" asp-action="InfoIllegal">严重违法企业名单</a></li>
                        <li><a asp-controller="Page" asp-action="InfoRandom">抽查检查公示</a></li>
                    </ol>
                </li>
                <li>
                    <a href="/">信息公告</a>
                    <ol>
                        <li><a asp-controller="Page" asp-action="AnnouncementUnsual">经营异常公告</a></li>
                        <li><a asp-controller="Page" asp-action="AnnouncementIllegal">严重违法企业公告</a></li>
                        <li><a asp-controller="Page" asp-action="AnnouncementRandom">抽查检查公告</a></li>
                    </ol>
                </li>
                <li>
                    <a href="/">友情链接</a>
                    <ol>
                        <li><a href="http://gsxt.saic.gov.cn/">全国首页</a></li>
                    </ol>
                </li>
            </ul>
        </div>
        <div class="input">
            <input type="text" placeholder="请输入公司注册号">
            <a asp-controller="Page" asp-action="Search" class="btn1">提交</a>
            <!--<input class="btn1" type="submit" vlaue="提交" />-->
        </div>
    </nav>

    <footer>
        <p>&copy; copyright .yang<a asp-action="Login" asp-controller="Account" style="display:inline-block;">管理入口</a></p>
    </footer>
    <script>

    </script>
</body>
</html>