@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta charset="utf-8" />
    <meta name="description" content="齐齐哈尔市企业信用信息系统，企业信用，信用信息" />
    <meta name="keywords" content="齐齐哈尔市企业信用信息系统，企业信用，信用信息" />
    <meta name="author" content="yang" />
    <link rel="stylesheet" href="~/styles/index.css" />
    <title>index</title>
    
</head>
<body>
    <header>
        <div class="container">
            <h1>齐齐哈尔市企业信用信息管理系统</h1>
        </div>
    </header>
    <nav>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul id="menu">
                        <li><a href="/">违章查询</a></li>
                        <li><a href="/">严重违法查询</a></li>
                        <li><a href="/">信息公示</a></li>
                        <li><a href="/">经营异常查询</a></li>
                        <li><a href="/">公安系统进入</a></li>
                        <li><a asp-controller="Admin" asp-action="CreateInfoRandom">企业年度报告填报入口</a></li>
                        <li><a href="/">其他入口</a></li>
                    </ul>
                    <input type="text" placeholder="请输入公司注册号">
                    <input class="btn1" type="submit" vlaue="提交" />
                </div>
            </div>
        </div>
               
    </nav>

    <footer>
        <span>&copy; copyright .yang<a asp-action="Login" asp-controller="Account" style="display:inline-block;">管理入口</a></span>
    </footer>

</body>
</html>