@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        li {
            list-style: none;
        }

        .container {
            width: 1170px;
            margin: 0 auto;
        }

        header {
            width: 100%;
            height: 280px;
            background: #111;
            background: -webkit-linear-gradient(top left,#50a3a2 0%,#111 100%);
            background: linear-gradient(to top left,#50a3a2 0%, #111 100%);
        }

            header h1 {
                font-size: 3em;
                text-shadow: 0 0 2px #000;
                opacity: 0.7;
                letter-spacing: 3px;
                font-family: "Microsoft-YaHei";
                font-weight: 400;
                height: 100px;
                line-height: 100px;
                text-align: left;
                padding: 50px 0;
                color: #50a3a2;
            }

        nav {
            position: relative;
        }

        ul {
            position: absolute;
            top: 30px;
            left: 50px;
        }

        li {
            margin-bottom: 2px;
            float: left;
            clear: left;
            cursor: pointer;
        }

        a {
            display: block;
            width: 140px;
            height: 30px;
            line-height: 30px;
            position: relative;
            padding: 0 6px;
            border: 1px solid #d6d6d6;
            text-decoration: none;
            font-size: 12px;
            color: #555;
            font-weight: 400;
            border-radius: 8px;
            box-shadow: 0 0 0 3px transparent inset;
            transition: border-radius 0.6s linear,padding 0.3s linear;
        }

            a:hover {
                font-weight: bold;
                border: 1px solid #b5b5b5;
                box-shadow: 0 0 0 140px rgba(234,255,255,0.9) inset;
                padding: 0 30px;
            }

        input {
            position: absolute;
            top: 60px;
            left: 300px;
            width: 500px;
            height: 60px;
            background: rgba(226, 216, 216, 0.5);
            border: 1px solid #fff;
            border-radius: 8px;
            box-shadow: 0 0 0 6px #fff;
            transition: box-shadow 0.3s linear;
            font-size: 20px;
            color: #503aa3;
        }

            input:hover {
                box-shadow: 0 0 0 3px #50a3a3;
            }

        .btn1 {
            width: 100px;
            height: 60px;
            background: #50a3a3;
            left: 850px;
            text-align: center;
            line-height: 60px;
            font-size: 16px;
            color: #fff;
        }

        footer {
            height: 50px;
            width: 100%;
            position: absolute;
            bottom: 0;
            background: rgba(0,0,0,0.5);
        }

            footer span {
                line-height: 50px;
                color: #fff;
                width: 200px;
                display: block;
                margin: 0 auto;
            }
    </style>
</head>
<body style="overflow:hidden;">
    <header>
        <div class="container">
            <h1>齐齐哈尔市企业信用信息管理系统</h1>
        </div>
    </header>
    <nav>
        <ul id="menu">
            <li><a href="/">违章查询</a></li>
            <li><a href="/">严重违法查询</a></li>
            <li><a href="/">信息公示</a></li>
            <li><a href="/">经营异常查询</a></li>
            <li><a href="/">公安系统进入</a></li>
        </ul>
        <input type="text" placeholder="请输入公司注册号">
        <input class="btn1" type="submit" vlaue="提交" />
    </nav>

    <footer>
        <span>&copy; copyright .yang</span>
    </footer>

</body>
</html>