<div class="col-md-5">
    <div class="panel">
        <!--start-->
        <div class="panel-heading" style="background-color:rgb(242,242,242);">
            后台说明
        </div>
        <div class="panel-body">
            <strong class="panel-title"><a href="#" style="text-decoration:none;">各管理</a></strong>
            <p>能够显示数据信息，并提供修改，删除操作。</p>
        </div>
        <div class="panel-body">
            <strong class="panel-title"><a href="#" style="text-decoration:none;">添加</a></strong>
            <p>能够添加数据</p>
        </div>
        <div class="panel-body">
            <strong class="panel-title"><a asp-action="Modify" asp-controller="Account" style="text-decoration:none;">修改密码</a></strong>
            <p>修改管理员密码</p>
        </div>
        <div class="panel-body">
            <strong class="panel-title"><a href="#" style="text-decoration:none;">退出后台</a></strong>
            <p>返回到登录页面</p>
        </div>
    </div>
</div>