<div id="content-header">
    <h1>Manage</h1>
</div>
<div id="breadcrumb" style="margin-bottom:0;">
    <a asp-controller="Home" asp-action="Manage" title="Go to BackHome" class="tip-bottom"><i class="glyphicon glyphicon-home"></i> Home</a>
    <a href="#" class="current">Manage</a>
</div>

<div class="container-fluid" id="AllPageLayout">
    <div class="row-fluid">
        <div class="span12 center" style="text-align: center;">            
            <div class="col-lg-8">
                <div id="info" style="width:600px; height:400px;"></div>
            </div>
            <div class="col-lg-4">
                <div id="ann" style="width:300px; height:400px;"></div>
            </div>
        </div>
    </div>
      
</div>
<script src="~/scripts/echarts.yang.min.js"></script>
<script>
    var infoChart = echarts.init(document.getElementById('info'));
    infoChart.showLoading();
    // 指定图表的配置项和数据
    var option = {
    title : {
        text: '公示数量图解',
        x:'center'
    },
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        x : 'center',
        y : 'bottom',
        data:['抽查','经营异常','严重违法']
    },
    
    calculable : true,
    series : [
        {
            name:'公示',
            type:'pie',
            radius : [30, 110],
            center : ['75%', 200],
            roseType : 'area',
            data:[
                { value: @ViewBag.infoR, name: '抽查' },
                {value:@ViewBag.infoU, name:'经营异常'},
                {value:@ViewBag.infoI, name:'严重违法'}
            ]
        }
    ]
};

    infoChart.hideLoading();
    infoChart.setOption(option);

    var annChart = echarts.init(document.getElementById('ann'));
    annChart.showLoading();
    // 指定图表的配置项和数据
    var option = {
        title: {
            text: '公告统计'
        },
        tooltip: {},
        legend: {
            data: ['公告']
        },
        xAxis: {
            data: ["抽查公告", "经营异常公告", "严重违法公告"]
        },
        yAxis: {},
        series: [{
            name: '公告',
            type: 'bar',
            data: [@ViewBag.R, @ViewBag.U, @ViewBag.I]
        }]
    };

    // 使用刚指定的配置项和数据显示图表。
    annChart.hideLoading();
    annChart.setOption(option);
</script>
    
