.input{margin:0 auto;width:630px;position:relative;
    }
input {
    z-index:1;
    width: 500px;
    height: 60px;
    background: #FFE9AF;
    border: 1px solid #fff;
    border-radius: 8px;
    box-shadow: 0 0 0 6px #fff;
    transition: box-shadow 0.3s linear;
    font-size: 20px;
    color: #503aa3;
}

input:hover {
    box-shadow: 0 0 0 3px #50a3a3;
}
input:focus{
    background:#FFFAD7;
}
.btn1:hover {
    box-shadow: 0 0 0 3px #50a3a3;
}
.btn1 {
    box-shadow: 0 0 0 6px #fff;
    transition: box-shadow 0.3s linear;
    display:inline-block;
    width: 100px;
    margin-left:20px;
    height: 60px;
    background: #424444;
    border-radius: 8px;
    text-align: center;
    line-height: 60px;
    font-size: 16px;
    color: #fff;
    position: absolute;
    top: 1px;
    border: 1px solid #474949;
}

/*footer {
    overflow:hidden;
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #2185C5;
    background: -webkit-linear-gradient(top left,#2185C5 0%,#3E454C 100%);
    background: linear-gradient(to top left,#2185C5 0%, #3E454C 100%);
}

footer p {
    line-height: 70px;
    color: #fff;
    margin: 0 auto;
}*/
