<div id="content-header">
    <h1>严重违法公告创建</h1> 
</div>
<div id="breadcrumb">
    <a asp-controller="Home" asp-action="Manage" title="Go to BackHome" class="tip-bottom"><i class="glyphicon glyphicon-home"></i> Home</a>
    <a href="#" class="current">严重违法公告创建</a>
</div>
<div class="container-fluid" id="AllPageLayout">
    <div class="row-fluid">
        <div class="col-lg-8 col-lg-offset-2">
            <form id="defaultForm" class="form-horizontal" asp-controller="Admin" asp-action="CreateAnnouncementIllegal" method="post">
                <div class="form-group">
                    <label class="col-lg-3 control-label">公告标题</label>
                    <div class="col-lg-5">
                        <input type="text" class="form-control" name="Title" id="Title" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">发布单位</label>
                    <div class="col-lg-5">
                        <input type="text" class="form-control" name="PublicUnit" id="PublicUnit" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">公告时间</label>
                    <div class="col-lg-5">
                        <input type="datetime" class="form-control" name="PublicTime" id="PublicTime" value="@DateTime.Now" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">内容</label>
                    <div class="col-lg-5">
                        <textarea class="form-control" name="Content" id="Content"></textarea>

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">
                        <input type="submit" class="btn btn-success" value="提交" />
                        <a asp-controller="Admin" asp-action="DetailsBaseInfo">取消</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
    
</div>
<script src="~/scripts/jquery-1.8.3.min.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>
<script src="~/scripts/bootstrapValidator.min.js"></script>
<script>
    $(document).ready(function () {
        $("#submit").click(function () {
            var url = "/Admin/CreateAnnouncementIllegal";
            var params = { "Title": $('#Title').val(), "PublicTime": $("#PublicTime").val(), "Content": $("#Content").val(), "PublicUnit": $("#publicUnit").val() };
            $.post(url, params, function (data) {
                if (data == "success") {
                    alert("添加成功");
                    window.location.href = "/Admin/DetailsAnnouncementIllegal";
                } else {
                    alert("添加失败");

                }
            })
        });

        $("#defaultForm").bootstrapValidator({
            message: '这个值没有被验证',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'

            },
            fields: {//注册号不能重复 要有对比
                Title: {
                    message: '标题没有验证',
                    validators: {
                        notEmpty: {
                            message: '标题不能为空'
                        }

                    }

                },
                PublicUnit: {
                    validators: {
                        notEmpty: {
                            message: '发布单位不能为空'
                        }
                    }

                },
                Content: {
                    validators: {
                        notEmpty: {
                            message: '内容不能为空'
                        }
                    }

                },
                PublicTime: {
                    validators: {
                        notEmpty: {
                            message: '公示时间不能为空'
                        }
                    }

                }
            }

        });
    });
</script>
