@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="createYearEnterPage">
    <h3>请填写企业年度报表</h3>
    <table class="table">
        <tr>
            <th>注册号</th>
            <td></td>
        </tr>
    </table>
</div>