<form role="form" asp-controller="Admin" asp-action="CreateMessage" method="post">
    <div class="">
        <h2>企业年度报告填报</h2>
        <table class="table">
            <tr>
                <th>报告年度</th>
                <td><input class="form-control" type="datetime" name="DateTime" value="@DateTime.Now" /></td>
            </tr>
            <tr>
                <th>企业名称</th>
                <td><input class="form-control" type="hidden" name="EnterpriseName" /></td>
            </tr>
            <tr>
                <th>注册号</th>
                <td><input class="form-control" type="hidden" name="RegistrationNumber" /></td>
            </tr>
            <tr>
                <th>企业联系电话</th>
                <td><input class="form-control" type="text" name="EnterpriseTel" /></td>
            </tr>
            <tr>
                <th>企业通信地址</th>
                <td><input class="form-control" type="text" name="EnterpriseAddress" /></td>
            </tr>
            <tr>
                <th>电子邮箱</th>
                <td><input class="form-control" type="text" name="EnterpriseEmail" /></td>
            </tr>
            <tr>
                <th>邮政编码</th>
                <td><input class="form-control" type="text" name="ZipCode" /></td>
            </tr>
            <tr>
                <th>是否有网站或网店</th>
                <td>
                    <select name="">
                        <option>是</option>
                        <option>否</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>企业是否有投资信息或购买其他公司期权</th>
                <td>
                    <select name="">
                        <option>是</option>
                        <option>否</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>有限责任公司本年度是否发生股东股权转让</th>
                <td>
                    <select name="">
                        <option>是</option>
                        <option>否</option>
                    </select>
                </td>
             </tr>
            <tr>
                <th>企业经营状态</th>
                <td>
                    <select name="">
                        <option>正常</option>
                        <option>迁出</option>
                        <option>...</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>从业人数</th>
                <td><input class="form-control" type="text" name="" /></td>
            </tr>
            <tr>
                <td><input class="form-control" type="checkbox" name="" checked="checked" value="公示"/></td>
                <td><input class="form-control" type="checkbox" name="" value="不公示"/></td>
            </tr>
        </table>
        <p>
            <input class="btn inverse" type="submit" value="提交" />
            <a asp-action="DetailsMessage" asp-controller="Admin">取消</a>
        </p>
    </div>
</form>