@model IEnumerable<BaseInfo>
<table>
    <thead>
        <tr>
            <th>注册号</th>
            <th>企业名称</th>
         </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.RegistrationNumber</td>
                <td>@x.EnterpriseName</td>
                @if (User.IsSignedIn())
                {
                    <td>
                        <a asp-action="EditBaseInfo" asp-controller="Admin" asp-route-id="@x.Id">修改</a>
                        <a href="javascript:remove(@x.Id)">删除</a>
                    </td>
                }

            </tr>

        }

    </tbody>
</table>
@if (User.IsSignedIn())
{
    <form id="frmDelete" asp-aciton="DeleteInform" asp-controller="Admin" method="post">
        <input type="hidden" id="Id" name="id" />
    </form>
    <script>
        function remove(id)
        {
            var jug = confirm("确认删除？");
            if (jug == true) {
                $('#Id').val(id);
                $('#frmDelete').submit();
            }
        }
    </script>
}