@model Announcement
<style>
    th{margin-top:10px;}
</style>
<div id="content-header">
    <h1>编辑违法公告</h1>
</div>
<div id="breadcrumb">
    <a asp-controller="Home" asp-action="Manage" title="Go to BackHome" class="tip-bottom"><i class="glyphicon glyphicon-home"></i> Home</a>
    <a href="#" class="current">编辑违法公告</a>
</div>
<div class="container-fluid" id="AllPageLayout">
    <form id="defaultForm" asp-controller="Admin" asp-action="EditAnnouncementRandom" method="post">
        <table class="table">
            <thead>
                <tr>
                    <th class="form-control">公告标题</th>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" name="Title" id="Title" value="@Model.Title" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="form-control">公告单位</th>
                    <td class="form-group">
                        <div class="form-group">
                            <input type="text" class="form-control" name="PublicUnit" id="PublicUnit" value="@Model.PublicUnit" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="form-control">公告时间</th>
                    <td class="form-group">
                        <div class="form-group">
                            <input type="DateTime" class="form-control" name="PublicTime" id="PublicTime" value="@Model.PublicTime" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="form-control">内容</th>
                    <td>
                        <div class="form-group">
                            <textarea class="form-control" id="Content" name="Content">@Model.Content</textarea>
                        </div>

                    </td>
                </tr>
            </thead>
        </table>
        <p>
            <input class="btn btn-info inverse" type="submit" value="提交" />
            <a asp-controller="Admin" asp-action="DetailsAnnouncementRandom">取消</a>
        </p>
    </form>
</div>
<script src="~/scripts/jquery-2.1.1.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>
<script src="~/scripts/bootstrapValidator.min.js"></script>
    <script>
        $(document).ready(function () {

            $("#defaultForm").bootstrapValidator({
                message: '这个值没有被验证',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'

                },
                fields: {//注册号不能重复 要有对比
                    Title: {
                        message: '标题没有验证',
                        validators: {
                            notEmpty: {
                                message: '标题不能为空'
                            }

                        }

                    },
                    PublicUnit:{
                        message: '发布单位没有验证',
                        validators: {
                            notEmpty: {
                                message: '发布单位不能为空'
                            }

                        }
                    
                    },
                    Content: {
                        validators: {
                            notEmpty: {
                                message: '内容不能为空'
                            }
                        }

                    },
                    PublicTime: {
                        validators: {
                            notEmpty: {
                                message: '公示时间不能为空'
                            }
                        }

                    }
                }

            });
        });
    </script>
