@model InfoUnusual
<style>
    th {
        margin-top: 10px;
    }
</style>
<div id="content-header">
    <h1>编辑经营异常公示</h1>
</div>
<div id="breadcrumb">
    <a asp-controller="Home" asp-action="Manage" title="Go to BackHome" class="tip-bottom"><i class="glyphicon glyphicon-home"></i> Home</a>
    <a href="#" class="current">编辑经营异常公示</a>
</div>
<div class="container-fluid" id="AllPageLayout">
    <form id="defaultForm" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <table class="table">
            <tr>
                <th class="form-control">注册号</th>
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control" name="RegistrationNumber" value="@Model.RegistrationNumber" />
                    </div>
                </td>
            </tr>
            <tr>
                <th class="form-control">经营异常日期</th>
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control" name="DateTime" value="@Model.DateTime" />
                    </div>
                </td>
            </tr>
        </table>
        <p>
            <input class="btn btn-info inverse" type="submit" value="提交" />
            <a asp-controller="Admin" asp-action="DetailsInfoUnusual">取消</a>
        </p>
    </form>
</div>
<script src="~/scripts/jquery-1.8.3.min.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>
<script src="~/scripts/bootstrapValidator.min.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
            $("#defaultForm").bootstrapValidator({
                live: 'disable',
                message: '这个值不合法',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'

                },
                fields: {
                    RegistrationNumber: {
                        message: '注册号没有验证',
                        validators: {
                            notEmpty: {
                                message: '注册号不能为空'
                            },
                            regexp: {
                                regexp: /^\d{15}$/,
                                message: '只能是15位数字'
                            }
                        }

                    },
                    DateTime: {
                        message: '时间没有验证',
                        validators: {
                            notEmpty: {
                                message: '时间不能为空'
                            }
                        }
                    }
                }
            })
                .on('success.form.bv', function (e) {
                    e.preventDefault();
                    var $form = $(e.target);
                    var bv = $form.data('bootstrapValidator');

                    $.post("/Admin/EditInfoUnusual", $form.serialize(), function (data) {
                        if (data == "success") {
                            alert("修改成功");
                            window.location.href = "/Admin/DetailsInfoUnusual";
                        }
                        else if (data == "RegisterNo") {
                            alert("注册号不存在");

                        }
                        else {
                            alert("修改失败");
                        }
                    });
                });;

        });
</script>    
