@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<content class="InfoPage InfoRandomPage">
    <div class="search">
        <input type="text" placeholder="请输入公司注册号搜索相关异常公示">
        <input class="btn1" type="submit" vlaue="提交" />
    </div>
    <div class="list">
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</content>