@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<content class="APage AnnouncementRandomPage">
    <div class="leftSide">
        <h3>抽查检查信息公告</h3>
        <ul>
            <li><a href="">齐齐哈尔市建钢厂经营异常信息公告通报</a><span>2013-2-12</span></li>
            <li><a href="">齐齐哈尔市建钢厂经营异常信息公告通报</a><span>2013-2-23</span></li>
            <li><a href="">齐齐哈尔市建钢厂经营异常信息公告通报</a><span>2013-2-31</span></li>
        </ul>
    </div>
    <div class="rightSide">
        <h3>抽查信息公告</h3>
        <ul>
            <li><a href="">齐齐哈尔市建钢厂抽查信息公告通报</a><span>2013-2-12</span></li>
            <li><a href="">齐齐哈尔市建钢厂抽查信息公告通报</a><span>2013-2-23</span></li>
            <li><a href="">齐齐哈尔市建钢厂抽查信息公告通报</a><span>2013-2-31</span></li>
        </ul>
    </div>
</content>