@model AnnouncementIllegal
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="container">
    <div class="row" style="margin-top:20px;">
        <div class="col-md-8 col-md-offset-2 well">
            <h3 class="text-center">@Model.title</h3>
            <p class="text-center"><small>@Model.DateTime.ToString("yyyy年MM月dd日")</small></p>
            <p class="text-justify">
                @Model.Content
            </p>
        </div>
    </div>
</div>
