@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="createYearEnterPage">
    <h3>请填写企业年度报表</h3>
    <table class="table">
        <tr>
            <th>报告年度</th>
            <td><input type="date" disabled="disabled" name="DateTime" value="@DateTime.Now.Year" /></td>
        </tr>
        <tr>
            <th>企业名称</th>
            <td><input type="text" disabled="disabled" name="" value="" /></td>
        </tr>
        <tr>
            <th>注册号</th>
            <td><input type="text" disabled="disabled" name="" value="" /></td>
        </tr>
        <tr>
            <th>企业联系电话</th>
            <td><input type="tel" name="Tel" value="" /></td>
            <th>电子邮箱</th>
            <td><input type="email" name="Email" value="" /></td>
        </tr>
        <tr>
            <th>企业通信地址</th>
            <td><input type="text" name="Address" value="" /></td>
            <th>邮政编码</th>
            <td><input type="text" name="ZipCode" value="" /></td>
        </tr>
        <tr>
            <th>是否有网站或网点</th>
            <td>
            <select name="Address" value="请选择">
                <option>是</option>
                <option>否</option>
            </select>
            
            <th>企业是否有投资信息或购买其他公司股权</th>
            
            <td>
                <select name="ZipCode" value="请选择">
                    <option>是</option>
                    <option>否</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>企业经营状态</th>
            <td>
                <select name="Address" value="请选择">
                    <option>开业</option>
                    <option>歇业</option>
                    <option>清算</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>从业人数</th>
            <td><input type="text" name="" value="" /></td>
        </tr>
    </table>
</div>
<p>
    <input type="submit" value="保存并提交" />
    <a href="#">取消</a>
</p>