@{ 
    Layout = null;
}
<html>
<head>
    <title>BootstrapValidator demo</title>
    <link href="~/styles/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/styles/style.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="~/scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/scripts/bootstrapValidator.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <h3>公示总页</h3>
        </div>
    </div>

</body>
</html>