@model IEnumerable<Info>
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<content class="InfoPage InfoRandomPage">
    <div class="search">
        <form asp-action="SearchRandom" asp-controller="Page" method="post" >
            <input type="text" name="key" placeholder="请输入公司注册号搜索相关抽查公示">
            <input class="btn1" type="submit" vlaue="搜索" />
        </form>       
    </div>
    <div class="list">
        <h3>抽查公示</h3>
        <ul class="list-title"> 
            <li class="list-name">企业名称</li>
            <li>注册号</li>
            <li>抽查日期</li>
            <li>抽查结果</li>
        </ul>
        @foreach (var x in Model)
        {
            <ul class="list-content">
                <li class="list-name"><a href="#" id="one">@x.CompanyName</a></li>
                <li>@x.RegisteNumber</li>
                <li>@x.PublicTime.ToString("yyyy年MM月dd日")</li>
                <li>@x.Result</li>
            </ul>
        }        
    </div>
    <div class="modal fade" id="oneRandom">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">详情</h4>
                </div>
                <div class="modal-body">
                    <table>
                        <tr>
                            <th></th>
                            <th>公司名</th>
                            <th>注册号</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</content>
<script src="~/scripts/jquery-2.1.1.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>
<script>
    $("#one").click(function () {
        $("#oneRandom").modal("show");
    });
</script>