@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<content class="InfoPage InfoIllegalPage">
    <div class="search">
        <input type="text" placeholder="请输入公司注册号搜索相关严重违法公示">
        <input class="btn1" type="submit" vlaue="搜索" />
    </div>
    <div class="list">
        <h3>严重违法公示</h3>
        <ul class="list-title">
            <li class="list-name">企业名称</li>
            <li>注册号</li>
            <li>被列入经营严重违法日期</li>
        </ul>
        <ul class="list-content">
            <li class="list-name"><a href="/">依安县丰田种业有限公司</a></li>
            <li>230223100007689</li>
            <li>2016年3月25日</li>
        </ul>
        <ul class="list-content">
            <li class="list-name"><a href="/">依安县丰田种业有限公司</a></li>
            <li>230223100007689</li>
            <li>2016年3月25日</li>
        </ul>
        <ul class="list-content">
            <li class="list-name"><a href="/">依安县丰田种业有限公司</a></li>
            <li>230223100007689</li>
            <li>2016年3月25日</li>
        </ul>
    </div>
</content>