@model IEnumerable<InfoIllegal>
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<content class="InfoPage InfoIllegalPage">
    <div class="search">
        <form asp-action="SearchIllegal" asp-controller="Page" method="post">
            <input type="text" name="key" placeholder="请输入公司注册号搜索相关严重违法公示">
            <input class="btn1" type="submit" vlaue="搜索" />
        </form>
    </div>
    
    <div class="list">
        <h3><a asp-controller="Page" asp-action="InfoIllegal">严重违法公示</a>——搜索结果</h3>
        <ul class="list-title">
            <li class="list-name">企业名称</li>
            <li>注册号</li>
            <li>违法日期</li>
        </ul>
        @foreach (var x in Model)
        {
            <ul class="list-content">
                <li class="list-name"><a asp-controller="Page" asp-action="ArticlePageIllegal">@x.EnterpriseName</a></li>
                <li>@x.RegistrationNumber</li>
                <li>@x.DateTime.ToString("yyyy年MM月dd日")</li>
            </ul>

        }
    </div>
</content>