@model IEnumerable<InfoRandom>
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<content class="InfoPage InfoRandomPage">
    <div class="search">
        <form asp-action="SearchRandom" asp-controller="Page" method="post">
            <input type="text" name="key" placeholder="请输入公司注册号搜索相关抽查公示">
            <input class="btn1" type="submit" vlaue="搜索" />
        </form>
    </div>
    
    <div class="list">
        <h3><a asp-controller="Page" asp-action="InfoRandom">抽查公示</a>——搜索结果</h3>
        <ul class="list-title">
            <li class="list-name">企业名称</li>
            <li>注册号</li>
            <li>抽查日期</li>
            <li>抽查结果</li>
        </ul>
        @foreach (var x in Model)
        {
            <ul class="list-content">
                <li class="list-name"><a asp-controller="Page" asp-action="ArticlePageRandom">@x.EnterpriseName</a></li>
                <li>@x.RegistrationNumber</li>
                <li>@x.DateTime</li>
                <li>@x.Result</li>
            </ul>

        }
    </div>
</content>