@model BaseInfo
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<content class="InfoPage">
    <div class="search">
        <form asp-action="Search" asp-controller="Page" method="post">
            <input type="text" name="key" placeholder="请输入公司注册号搜索">
            <input class="btn1" type="submit" vlaue="搜索" />
        </form>
    </div>
    
    <div class="list">
        <h3>搜索结果</h3>
        <ul class="list-title">
            <li class="list-name">企业名称</li>
            <li>注册号</li>
        </ul>
        <ul class="list-content">
            <li class="list-name"><a href="/">@Model.EnterpriseName</a></li>
            <li>@Model.RegistrationNumber</li>
        </ul>
    </div>
</content>